body{
    background-color: #ECFEAA;
    color: #000000;
}

header{
    background-color: #C4C27A;
}

h1{
    font-size: 36px;
    color: #009933;
    text-align: center;
}

div{
    border: solid 1px;
    background-color: #E2DE84;
}

p{
    font-size: 16px;
}

.frutti_messicani_simili{
    text-align: center;
    width: 95%;
}

.frutti_messicani_simili #avocado,
.frutti_messicani_simili #fichi_dindia{
    border: 0px;
    font-size: 12px;
    background-color: #ECFEAA;
}

.bordoAvocado,
.bordoFichiDindia{
    border: solid 1px;
    padding: 3px;
    border-radius: 8px;
}

.prezzo{
    text-align: center;
}

footer{
    background-color: #FFFFFF;
    height: 50px;
}

footer .testo_sotto_sinistra,
footer .testo_sotto_destra{
    font-size: 14px;
}
footer .testo_sotto_destra{
    position: absolute;
    text-align:end;
    right: 0%;
}
footer .testo_sotto_sinistra{
    text-align: start;
}

.industries{
    text-align: center;
}

.frutto_drago1,
.mappa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: all 500ms;
}

.mappa:hover{
    width: 60%;
}

.avocado{
    width: 50%;
}

.fico_dindia{
    width: 50%;
}

.doppia_immagine{
    text-align: center;
}

.doppia_immagine .frutto_drago2,
.doppia_immagine .frutto_drago3{
    width: 45%;
    height: 230px;
}